<!DOCTYPE html>
<html lang="en">

<head>
  <title>Project 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Movie Mood</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/popular">Most Popular<span class="sr-only">(current)</span></a>
          </li>
          {{!-- <li class="nav-item active">
            <a class="nav-link" href="/latest">The Latest<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/genre">Genre<span class="sr-only">(current)</span></a>
          </li> --}}
          {{#if data.loggedIn}}
          <li class="nav-item active ml-auto">
            <a class="nav-link" href="/account"><i class="fas fa-user h5 mb-0"></i> {{data.username}}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/account/logout">Logout {{data.msg}}<span class="sr-only">(current)</span></a>
          </li>

          {{else}}
          <li class="nav-item active ml-auto">
            <a class="nav-link" href="/account/login">Login<span class="sr-only">(current)</span></a>
          </li>

          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  {{{body}}}
  <script src="https://kit.fontawesome.com/c48e179834.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>

</html>