<div class="container">
    <h1 class="h2 mt-4">Create Account</h1>

    <form id="createAccountForm">

        <div class="form-group">
            <label for="createUsername">Username</label>
            <input type="text" class="form-control" id="createUsername" aria-describedby="usernameHelp">
        </div>

        <div class="form-group">
            <label for="createEmail">Email address</label>
            <input type="email" class="form-control" id="createEmail" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="createPassword">Password</label>
            <input type="password" class="form-control" id="createPassword">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
        <p class="my-2"><a href="/account/login">Have an account?</a></p>
    </form>

</div>