<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4">Movie Mood</h1>
    <p class="lead">I'm feeling....</p>

    {{#each moods}}
    <button type="button" class="btn btn-info" id="button">{{this.mood}}</button>
    {{/each}}


    {{!-- <button type="button" class="btn btn-info" id="button">Funny</button>
    <button type="button" class="btn btn-info" id="button">Romantic</button>
    <button type="button" class="btn btn-info" id="button">Uplifting</button>
    <button type="button" class="btn btn-info" id="button">Dark</button>
    <button type="button" class="btn btn-info" id="button">Info</button> --}}
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>