<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h2>The Latest: All Good Movies</h2>
    <p>This is our full list of good movies to watch. Have something more specific in mind? Try looking by mood.</p>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://lumiere-a.akamaihd.net/v1/images/tros-hero-in-theaters-mobile-a_e8a421c0.jpeg?region=0,0,1024,626&width=960"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Movie 1</h5>
            <p class="card-text">Summary of most popular movie.</p>
            <p class="card-text">Rating of movie</p>
            <a href="#" class="btn btn-primary">Watch</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img src="https://www.automobilemag.com/uploads/sites/11/2019/11/Ford-vs-Ferrari-15.jpg?fit=around%7C875:492"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Movie 1</h5>
            <p class="card-text">Summary of most popular movie.</p>
            <p class="card-text">Rating of movie</p>
            <a href="#" class="btn btn-primary">Watch</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img src="https://assets1.ignimgs.com/2019/12/06/jumanji-thumbnail-alt-1575672076622.jpg?width=1280"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Movie 1</h5>
            <p class="card-text">Summary of most popular movie.</p>
            <p class="card-text">Rating of movie</p>
            <a href="#" class="btn btn-primary">Watch</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>