<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="https://image.shutterstock.com/image-vector/online-cinema-art-movie-watching-260nw-586719869.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie 1</h5>
                        <p class="card-text">Summary of most popular movie.</p>
                        <p class="card-text">Rating of movie</p>
                        <a href="#" class="btn btn-primary">Watch</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <img src="https://image.shutterstock.com/image-vector/online-cinema-art-movie-watching-260nw-586719869.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie 2</h5>
                        <p class="card-text">Summary of most popular movie.</p>
                        <p class="card-text">Rating of movie</p>
                        <a href="#" class="btn btn-primary">Watch</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <img src="https://image.shutterstock.com/image-vector/online-cinema-art-movie-watching-260nw-586719869.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie 3</h5>
                        <p class="card-text">Summary of most popular movie.</p>
                        <p class="card-text">Rating of movie</p>
                        <a href="#" class="btn btn-primary">Watch</a>
                    </div>
                </div>
            </div>
        </div>






    </div>
</div>