.jumbotron {
  min-height: calc(100vh - 56px);
  margin-bottom: 0;
}
.display-4{
    text-align: center;
    color: whitesmoke;
}
#indexjumbo {
    background-image: url("https://images.pexels.com/photos/2507025/pexels-photo-2507025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 100%;
}
.navbarNav {
  text-align: center;
  color: black;
  border-top: 0%;
}
.navbar {
  text-align: center;
}
.lead{
    text-align: center;
    color: white;
}
#button {
  border-radius: 24px;
  margin-left: 10%;
  margin-top: 8%;
}
.btn {
    transition: .3s;
  }
  .btn:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }

#one {
  color: brown;
}

/* .card {
  width: 33.33%; 
  margin-bottom: 4%;
  margin-top: 5%;
 }  */

.card-body {
  padding: 25px;
}

#movies img,
#movie img {
  width: 100%;
}

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
}

.card-layout .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#account {
    background-image: url("https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
